In [43]:
import sys
sys.path.append('./../src/main')

import mqpy
from mqpy import \
    ENamespacePrivilege as NsPrivilege, \
    EDatasetPrivilege as DsPrivilege, \
    EAuthorizationType as Auth

## Working with namespaces

In [44]:
mqpy.Namespace('mwellner').create()
mqpy.namespaces()

       NAME  OWNER             MODIFIED  DATASETS
0     hippo  hippo  2019-09-22 12:13:03         0
1  mwellner  hippo  2019-09-22 12:13:03         0

In [45]:
ns = mqpy.Namespace()

In [46]:
ns \
    .grant(NsPrivilege.MEMBER, Auth.USER, 'foo') \
    .print()

print()
print('---')
print()

ns.revoke(NsPrivilege.MEMBER, Auth.USER, 'foo')

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-22 12:13:03
CREATED BY     hippo

MODIFIED       2019-09-22 12:13:17
MODIFIED BY    hippo

DATASETS       0


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT
foo           member       hippo         2019-09-22 12:13:17



---

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-22 12:13:03
CREATED BY     hippo

MODIFIED       2019-09-22 12:13:17
MODIFIED BY    hippo

DATASETS       0


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

## Working with Datasets

Datasets can be access via their parent namespace object.

In [47]:
ns.datasets()

Empty DataFrame
Columns: [NAME]
Index: []

In [48]:
ds = ns.dataset('my-data')
ds.create()

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-22 12:13:21
CREATED BY     hippo

MODIFIED       2019-09-22 12:13:21
MODIFIED BY    hippo

VERSIONS       0


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

In [49]:
ds \
    .grant(DsPrivilege.CONSUMER, Auth.WILDCARD) \
    .print()

print()
print('---')
print()

ds \
    .revoke(DsPrivilege.CONSUMER, Auth.WILDCARD)

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-22 12:13:21
CREATED BY     hippo

MODIFIED       2019-09-22 12:13:21
MODIFIED BY    hippo

VERSIONS       0


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT
*             consumer     hippo         2019-09-22 12:13:23



---

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-22 12:13:21
CREATED BY     hippo

MODIFIED       2019-09-22 12:13:21
MODIFIED BY    hippo

VERSIONS       0


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

In [50]:
# ds \
#    .create_consumer() \
#    .create_producer()

In [51]:
ds

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-22 12:13:21
CREATED BY     hippo

MODIFIED       2019-09-22 12:13:21
MODIFIED BY    hippo

VERSIONS       0


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

In [58]:
ds.versions()

,VERSION,RECORDS,MODIFIED,BY,ID
0,1.1.0,700,2019-09-22 12:32:33,hippo,429febcf-9bbd-4e79-9b76-3d1f124ec02e
1,1.0.0,700,2019-09-22 12:13:55,hippo,cf56dfb3-0fbc-4cd3-980a-143e325f3d77

In [55]:
version = ds.version('1.0.0')
version

VERSION 1.0.0

PROPERTIES
----------
ID                   cf56dfb3-0fbc-4cd3-980a-143e325f3d77
RECORDS              700

SHORT DESCRIPTION    Published from Java
COMMITTED            2019-09-22 12:13:55
COMMITTED BY         hippo

CREATED              2019-09-22 12:13:55
CREATED BY           hippo

MODIFIED             2019-09-22 12:13:55
MODIFIED BY          hippo


SCHEMA
------
{
  "type" : "record",
  "name" : "Country",
  "namespace" : "maquette.sdk.sample",
  "fields" : [ {
    "name" : "name",
    "type" : "string"
  }, {
    "name" : "capital",
    "type" : "string"
  }, {
    "name" : "population",
    "type" : "int"
  }, {
    "name" : "area",
    "type" : "int"
  } ]
}

## Get and Put datasets

In [57]:
df = version.get()
df.head()

        area         capital           name  population
0    9388211          Peking          China  1433783686
1    2973190       New-Dehli          India  1366417754
2    9147420  Washington D.C  United States   329064917
3    8400000       Sao Paolo         Brazil   211000000
4  164000000          Moscow         Russia   146000000

In [18]:
ds.put(df, 'some descritpion')

VERSION 2.0.0

PROPERTIES
----------
ID                   11388a48-2501-4c35-b334-336794882529
RECORDS              700

SHORT DESCRIPTION    some descritpion
COMMITTED            2019-09-18 23:50:17
COMMITTED BY         hippo

CREATED              2019-09-18 23:50:17
CREATED BY           hippo

MODIFIED             2019-09-18 23:50:17
MODIFIED BY          hippo


SCHEMA
------
{
  "type" : "record",
  "name" : "Root",
  "fields" : [ {
    "name" : "area",
    "type" : [ "null", "long" ]
  }, {
    "name" : "capital",
    "type" : [ "null", "string" ]
  }, {
    "name" : "name",
    "type" : [ "null", "string" ]
  }, {
    "name" : "population",
    "type" : [ "null", "long" ]
  } ]
}

# Admin functions

In [11]:
mqpy.admin().tokens()

,NAME,ID,CREATED,CREATED BY,MODIFIED,MODIFIED BY
0,producer-13af7c46,67aec40b-1db7-4b9d-add1-b1f0798db2c1,2019-09-18 22:15:01,hippo,2019-09-18 22:15:01,hippo
1,consumer-ff9e9da2,c6d62126-e80a-4a39-99e3-a8d98eb28bc6,2019-09-18 22:15:01,hippo,2019-09-18 22:15:01,hippo

In [12]:
mqpy.admin().renew_token('producer-13af7c46')

Renewed token 'producer-13af7c46' with secret 'ef85683f-30d8-42a9-b82d-a15dcd01f0d3'

In [13]:
mqpy.admin().tokens()

,NAME,ID,CREATED,CREATED BY,MODIFIED,MODIFIED BY
0,producer-13af7c46,67aec40b-1db7-4b9d-add1-b1f0798db2c1,2019-09-18 22:15:01,hippo,2019-09-18 22:45:38,hippo
1,consumer-ff9e9da2,c6d62126-e80a-4a39-99e3-a8d98eb28bc6,2019-09-18 22:15:01,hippo,2019-09-18 22:15:01,hippo