In [12]:
import sys
sys.path.append('./../src/main')

import mqpy
from mqpy import \
    ENamespacePrivilege as NsPrivilege, \
    EDatasetPrivilege as DsPrivilege, \
    EAuthorizationType as Auth

## Working with namespaces

In [2]:
mqpy.Namespace('mwellner').create()
mqpy.namespaces()

       NAME  OWNER             MODIFIED  DATASETS
0     hippo  hippo  2019-09-17 17:38:11         1
1  mwellner  hippo  2019-09-17 01:03:20         0

In [3]:
ns = mqpy.Namespace()

In [17]:
ns \
    .grant(NsPrivilege.MEMBER, Auth.USER, 'foo') \
    .print()

print()
print('---')
print()

ns.revoke(NsPrivilege.MEMBER, Auth.USER, 'foo')

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-17 00:18:21
CREATED BY     hippo

MODIFIED       2019-09-17 17:50:59
MODIFIED BY    hippo

DATASETS       1


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT
foo           member       hippo         2019-09-17 17:50:59



---

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-17 00:18:21
CREATED BY     hippo

MODIFIED       2019-09-17 17:50:59
MODIFIED BY    hippo

DATASETS       1


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

## Working with Datasets

Datasets can be access via their parent namespace object.

In [5]:
ns.datasets()

      NAME
0  my-data

In [9]:
ds = ns.dataset('my-data')
ds.create()

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-17 17:45:19
CREATED BY     hippo

MODIFIED       2019-09-17 17:45:19
MODIFIED BY    hippo

VERSIONS       2


ACCESS CONTROL
--------------
USER    PRIVILEGE    GRANTED BY    GRANTED AT

In [20]:
ds \
    .grant(DsPrivilege.CONSUMER, Auth.WILDCARD) \
    .print()

print()
print('---')
print()

ds \
    .revoke(DsPrivilege.CONSUMER, Auth.WILDCARD)

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-17 17:53:03
CREATED BY     hippo

MODIFIED       2019-09-17 17:53:03
MODIFIED BY    hippo

VERSIONS       2


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT
*             consumer     hippo         2019-09-17 17:49:53



---

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-17 17:53:03
CREATED BY     hippo

MODIFIED       2019-09-17 17:53:03
MODIFIED BY    hippo

VERSIONS       2


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

In [21]:
ds.versions()

,VERSION,RECORDS,MODIFIED,BY,ID
0,1.1.0,5,2019-09-17 00:46:26,hippo,51074143-5908-40a1-bd31-99907ed74d16
1,1.0.0,5,2019-09-17 00:19:05,hippo,f909ce31-4b77-49be-b31c-1d4d9b7a0886

In [23]:
version = ds.version('1.0.0')
version

PROPERTIES
----------
ID                   f909ce31-4b77-49be-b31c-1d4d9b7a0886
RECORDS              5

SHORT DESCRIPTION    some nice data
COMMITTED            2019-09-17 00:19:05
COMMITTED BY         hippo

CREATED              2019-09-17 00:19:05
CREATED BY           hippo

MODIFIED             2019-09-17 00:19:05
MODIFIED BY          hippo


SCHEMA
------
{
  "type" : "record",
  "name" : "country",
  "fields" : [ {
    "name" : "name",
    "type" : "string"
  }, {
    "name" : "capital",
    "type" : "string"
  }, {
    "name" : "citizens",
    "type" : "int"
  } ]
}