In [1]:
import sys
sys.path.append('./../src/main')

import datetime
import pandas as pd

import mqpy

In [2]:
mqpy.namespaces()

    NAME       OWNER             MODIFIED  DATASETS
0    foo  user/hippo  2019-09-13 14:03:31         0
1  hippo  user/hippo  2019-09-13 14:02:26         0

In [5]:
mqpy.create_namespace('hello-world')

In [6]:
mqpy.namespaces()

          NAME       OWNER             MODIFIED  DATASETS
0          foo  user/hippo  2019-09-13 14:03:31         0
1  hello-world  user/hippo  2019-09-14 13:59:48         0
2        hippo  user/hippo  2019-09-13 14:02:26         0