In [1]:
import sys
sys.path.append('./../src/main')

import mqpy

In [4]:
mqpy.namespaces()
mqpy.Namespace('mwellner').create()
mqpy.namespaces()

       NAME  OWNER             MODIFIED  DATASETS
0     hippo  hippo  2019-09-17 00:18:21         1
1  mwellner  hippo  2019-09-17 01:03:20         0

In [5]:
ns = mqpy.Namespace()

In [6]:
ns.datasets()

      NAME
0  my-data

In [7]:
ns.dataset('my-data').create().versions()

,VERSION,RECORDS,MODIFIED,BY,ID
0,1.1.0,5,2019-09-17 00:46:26,hippo,51074143-5908-40a1-bd31-99907ed74d16
1,1.0.0,5,2019-09-17 00:19:05,hippo,f909ce31-4b77-49be-b31c-1d4d9b7a0886

In [ ]:
ns.grant(mqpy.ENamespacePrivilege.MEMBER, mqpy.EAuthorizationType.USER, 'foo')