In [1]:
import sys
sys.path.append('./../src/main')

import datetime
import pandas as pd

import mqpy

In [2]:
mqpy.namespaces()
mqpy.Namespace('mwellner').create()
mqpy.namespaces()

          NAME  OWNER             MODIFIED  DATASETS
0          foo  hippo  2019-09-13 14:03:31         0
1  hello-world  hippo  2019-09-14 13:59:48         0
2        hippo  hippo  2019-09-14 23:30:25         2
3     mwellner  hippo  2019-09-14 23:37:14         0

In [4]:
ns = mqpy.Namespace()

In [6]:
ns.datasets()

              NAME
0  some-other-data
1          my-data

In [7]:
ns.dataset('my-data')

In [12]:
ns.grant(mqpy.ENamespacePrivilege.MEMBER, mqpy.EAuthorizationType.USER, 'foo')

{'namespace': None, 'privilege': 'member', 'authorization': 'user', 'to': 'foo'}