In [1]:
import sys
sys.path.append('./../src/main')

import mqpy
from mqpy import \
    ENamespacePrivilege as NsPrivilege, \
    EDatasetPrivilege as DsPrivilege, \
    EAuthorizationType as Auth

## Working with namespaces

In [2]:
mqpy.Namespace('mwellner').create()
mqpy.namespaces()

       NAME  OWNER             MODIFIED  DATASETS
0     hippo  hippo  2019-09-17 18:47:42         1
1  mwellner  hippo  2019-09-17 01:03:20         0

In [3]:
ns = mqpy.Namespace()

In [4]:
ns \
    .grant(NsPrivilege.MEMBER, Auth.USER, 'foo') \
    .print()

print()
print('---')
print()

ns.revoke(NsPrivilege.MEMBER, Auth.USER, 'foo')

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-17 00:18:21
CREATED BY     hippo

MODIFIED       2019-09-17 18:51:02
MODIFIED BY    hippo

DATASETS       1


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT
foo           member       hippo         2019-09-17 18:51:02



---

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-17 00:18:21
CREATED BY     hippo

MODIFIED       2019-09-17 18:51:02
MODIFIED BY    hippo

DATASETS       1


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

## Working with Datasets

Datasets can be access via their parent namespace object.

In [5]:
ns.datasets()

      NAME
0  my-data

In [6]:
ds = ns.dataset('my-data')
ds.create()

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-17 18:21:46
CREATED BY     hippo

MODIFIED       2019-09-17 18:21:46
MODIFIED BY    hippo

VERSIONS       7


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

In [7]:
ds \
    .grant(DsPrivilege.CONSUMER, Auth.WILDCARD) \
    .print()

print()
print('---')
print()

ds \
    .revoke(DsPrivilege.CONSUMER, Auth.WILDCARD)

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-17 18:21:46
CREATED BY     hippo

MODIFIED       2019-09-17 18:21:46
MODIFIED BY    hippo

VERSIONS       7


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT
*             consumer     hippo         2019-09-17 18:51:02



---

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-17 18:21:46
CREATED BY     hippo

MODIFIED       2019-09-17 18:21:46
MODIFIED BY    hippo

VERSIONS       7


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

In [8]:
ds.versions()

,VERSION,RECORDS,MODIFIED,BY,ID
0,2.3.0,5,2019-09-17 18:47:42,hippo,2f78c760-8063-4774-babb-251b7756de62
1,2.2.0,5,2019-09-17 18:47:15,hippo,17cf336d-02f8-40b0-96e4-bcb50fcdbc50
2,2.1.0,5,2019-09-17 18:46:08,hippo,81b4f255-54b7-4194-b5cb-2db800a3d70c
3,2.0.0,5,2019-09-17 18:45:17,hippo,f088466c-4753-4d94-b101-59115f77cd98
4,1.2.0,5,2019-09-17 18:39:19,hippo,a73848d1-4c64-4aea-9390-997126b1d86b
5,1.1.0,5,2019-09-17 00:46:26,hippo,51074143-5908-40a1-bd31-99907ed74d16
6,1.0.0,5,2019-09-17 00:19:05,hippo,f909ce31-4b77-49be-b31c-1d4d9b7a0886

In [13]:
version = ds.version('1.0.0')
version

VERSION 1.0.0

PROPERTIES
----------
ID                   f909ce31-4b77-49be-b31c-1d4d9b7a0886
RECORDS              5

SHORT DESCRIPTION    some nice data
COMMITTED            2019-09-17 00:19:05
COMMITTED BY         hippo

CREATED              2019-09-17 00:19:05
CREATED BY           hippo

MODIFIED             2019-09-17 00:19:05
MODIFIED BY          hippo


SCHEMA
------
{
  "type" : "record",
  "name" : "country",
  "fields" : [ {
    "name" : "name",
    "type" : "string"
  }, {
    "name" : "capital",
    "type" : "string"
  }, {
    "name" : "citizens",
    "type" : "int"
  } ]
}

## Get and Put datasets

In [15]:
df = version.get()
df

  capital  citizens         name
0  Berlin  80000000      Germany
1   Berne  16000000  Switzerland
2  Vienna  16000000      Austria
3   Paris  60000000       France
4    Rome  40000000        Italy

In [11]:
ds.put(df, 'some descritpion')

VERSION 2.4.0

PROPERTIES
----------
ID                   d2679eee-1618-4288-a8e2-bd444e464d86
RECORDS              5

SHORT DESCRIPTION    some descritpion
COMMITTED            2019-09-17 18:51:02
COMMITTED BY         hippo

CREATED              2019-09-17 18:51:02
CREATED BY           hippo

MODIFIED             2019-09-17 18:51:02
MODIFIED BY          hippo


SCHEMA
------
{
  "type" : "record",
  "name" : "Root",
  "fields" : [ {
    "name" : "capital",
    "type" : [ "null", "string" ]
  }, {
    "name" : "citizens",
    "type" : [ "null", "long" ]
  }, {
    "name" : "name",
    "type" : [ "null", "string" ]
  } ]
}