In [1]:
import sys
sys.path.append('./../src/main')

import mqpy
from mqpy import \
    ENamespacePrivilege as NsPrivilege, \
    EDatasetPrivilege as DsPrivilege, \
    EAuthorizationType as Auth

## Working with namespaces

In [2]:
mqpy.Namespace('mwellner').create()
mqpy.namespaces()

       NAME  OWNER             MODIFIED  DATASETS
0     hippo  hippo  2019-09-17 18:51:02         1
1  mwellner  hippo  2019-09-17 01:03:20         0

In [3]:
ns = mqpy.Namespace()

In [4]:
ns \
    .grant(NsPrivilege.MEMBER, Auth.USER, 'foo') \
    .print()

print()
print('---')
print()

ns.revoke(NsPrivilege.MEMBER, Auth.USER, 'foo')

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-17 00:18:21
CREATED BY     hippo

MODIFIED       2019-09-17 18:51:02
MODIFIED BY    hippo

DATASETS       1


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT
foo           member       hippo         2019-09-17 18:51:02



---

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-17 00:18:21
CREATED BY     hippo

MODIFIED       2019-09-17 18:51:02
MODIFIED BY    hippo

DATASETS       1


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

## Working with Datasets

Datasets can be access via their parent namespace object.

In [4]:
ns.datasets()

      NAME
0  my-data

In [6]:
ds = ns.dataset('my-data')
ds.create()

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-18 18:45:17
CREATED BY     hippo

MODIFIED       2019-09-18 18:45:17
MODIFIED BY    hippo

VERSIONS       9


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

In [7]:
ds \
    .grant(DsPrivilege.CONSUMER, Auth.WILDCARD) \
    .print()

print()
print('---')
print()

ds \
    .revoke(DsPrivilege.CONSUMER, Auth.WILDCARD)

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-18 18:45:17
CREATED BY     hippo

MODIFIED       2019-09-18 18:45:17
MODIFIED BY    hippo

VERSIONS       9


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT
*             consumer     hippo         2019-09-18 18:47:07



---

PROPERTIES
----------
OWNER          hippo

CREATED        2019-09-18 18:45:17
CREATED BY     hippo

MODIFIED       2019-09-18 18:45:17
MODIFIED BY    hippo

VERSIONS       9


ACCESS CONTROL
--------------
GRANTED TO    PRIVILEGE    GRANTED BY    GRANTED AT

In [14]:
ds.versions()

,VERSION,RECORDS,MODIFIED,BY,ID
0,-,100,2019-09-18 19:28:38,hippo,69caded5-103a-4cf1-9880-bb8e632d2f3a
1,-,100,2019-09-18 19:34:02,hippo,3fa34c43-cca2-4253-9e2a-311be51f4e43
2,-,0,2019-09-18 18:45:17,hippo,8ad3b887-5986-4638-84ee-c9dd057c5eea
3,-,100,2019-09-18 19:29:17,hippo,4e54e1b0-dade-445d-bd82-b17ff3900619
4,-,100,2019-09-18 19:32:03,hippo,a5a1ff6d-14e4-4fa3-b6c0-573f6faa868f
5,-,0,2019-09-18 19:16:22,hippo,1216d875-eadb-4a5c-af6c-0c12c81c525f
6,-,100,2019-09-18 19:33:11,hippo,29bb4a6d-a69a-4520-b83c-a818a5278e64
7,-,100,2019-09-18 19:32:31,hippo,9d304abf-b748-4cf4-a2e2-7de570b66e6e
8,3.1.0,100,2019-09-18 19:38:35,hippo,213b31d3-67e8-44f1-9f2b-fbe3ec280f50
9,3.0.0,100,2019-09-18 19:37:08,hippo,4554ccaa-a292-4d44-afc7-4c697e5ded3c
10,2.4.0,5,2019-09-17 18:51:02,hippo,d2679eee-1618-4288-a8e2-bd444e464d86
11,2.3.0,5,2019-09-17 18:47:42,hippo,2f78c760-8063-4774-babb-251b7756de62
12,2.2.0,5,2019-09-17 18:47:15,hippo,17cf336d-02f8-40b0-96e4-bcb50fcdbc50
13,2.1.0,5,2019-09-17 18:46:08,hippo,81b4f255-54b7-4194-b5cb-2db800a3d70c
14,2.0.0,5,2019-09-17 18:45:17,hippo,f088466c-4753-4d94-b101-59115f77cd98
15,1.2.0,5,2019-09-17 18:39:19,hippo,a73848d1-4c64-4aea-9390-997126b1d86b
16,1.1.0,5,2019-09-17 00:46:26,hippo,51074143-5908-40a1-bd31-99907ed74d16
17,1.0.0,5,2019-09-17 00:19:05,hippo,f909ce31-4b77-49be-b31c-1d4d9b7a0886

In [10]:
version = ds.version('3.0.0')
version

VERSION 3.0.0

PROPERTIES
----------
ID                   4554ccaa-a292-4d44-afc7-4c697e5ded3c
RECORDS              100

SHORT DESCRIPTION    Published from Java
COMMITTED            2019-09-18 19:37:08
COMMITTED BY         hippo

CREATED              2019-09-18 19:37:08
CREATED BY           hippo

MODIFIED             2019-09-18 19:37:08
MODIFIED BY          hippo


SCHEMA
------
{
  "type" : "record",
  "name" : "TestType",
  "namespace" : "maquette.sdk",
  "fields" : [ {
    "name" : "bar",
    "type" : [ "null", "string" ]
  }, {
    "name" : "foo",
    "type" : [ "null", "string" ]
  } ]
}

## Get and Put datasets

In [12]:
df = version.get()
df.head()

    bar  foo
0  bar0  foo
1  bar1  foo
2  bar2  foo
3  bar3  foo
4  bar4  foo

In [13]:
ds.put(df, 'some descritpion')

VERSION 3.1.0

PROPERTIES
----------
ID                   213b31d3-67e8-44f1-9f2b-fbe3ec280f50
RECORDS              100

SHORT DESCRIPTION    some descritpion
COMMITTED            2019-09-18 19:38:35
COMMITTED BY         hippo

CREATED              2019-09-18 19:38:35
CREATED BY           hippo

MODIFIED             2019-09-18 19:38:35
MODIFIED BY          hippo


SCHEMA
------
{
  "type" : "record",
  "name" : "Root",
  "fields" : [ {
    "name" : "bar",
    "type" : [ "null", "string" ]
  }, {
    "name" : "foo",
    "type" : [ "null", "string" ]
  } ]
}