In [1]:
import sys
sys.path.append('./../src/main')

import datetime
import pandas as pd

import mqpy

In [2]:
mqpy.namespaces()

          NAME       OWNER             MODIFIED  DATASETS
0          foo  user/hippo  2019-09-13 14:03:31         0
1  hello-world  user/hippo  2019-09-14 13:59:48         0
2        hippo  user/hippo  2019-09-13 14:02:26         2

In [3]:
ns = mqpy.Namespace()

In [4]:
ns.datasets()

              NAME
0  some-other-data
1          my-data

In [5]:
ns.print()

OWNER          user/hippo

CREATED        2019-09-13 14:02:26
CREATED BY     hippo

MODIFIED       2019-09-13 14:02:26
MODIFIED BY    hippo